<h1>CRUD Node.js</h1>
<a href="inserir">Inserir</a>
<a href="select">select</a>
<header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
            <a class="navbar-brand" href="#">Vinicius Alencar</a>
            
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#home">Introdução<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#explore">Habilidades 
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#adventure">Adventure 
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/inserir">Projetos 
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact
                    </a>
                  </li>
              </ul>
            </div>
          </div>
          </nav>
    </header>
    <div style="display: inline-flex;">
        <div class="" style="width: 51%; margin-top: 7%; margin-left: 1%;">
            <h3>FILTROS</h3>
            <hr>
            <div style="text-align: right;">
                <label class="label-content" for="Cor">
                    Cor
                </label>
                <a onclick="cores()" style="margin-right: 5%; text-decoration: none; color: black;" class="fa fa-plus" href="#asda"></a>
                {{!-- <a class="fa fa-minus" href="#"></a> --}}
            </div>
            <div class="cores">
                <ul class="cores-container" style="display: table-row-group; font-size: 10pt; width: 275px;">
                    <li style="margin-left: 163px; margin-top: 10px;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorBranco()" class="color-selected-branco" style="background: url('//images.lojanike.com.br/cores/3_20190521214527.jpg') !important; border-radius: 100%; width: 30px; box-shadow: 0px 0px 1px 1px #e5e5e5;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-branco"></div>
                                    </div>
                                    <span>
                                        Branco
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li style="width: initial;float: inherit; margin-top: -22%;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorAzul()" class="color-selected-azul" style="background: url('//images.lojanike.com.br/cores/2_20190521214423.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-azul"></div>
                                    </div>
                                    <span>
                                        Azul
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="float: left; margin-top: -27%; margin-left: 32%;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorAmarelo()" class="color-selected-amarelo" style="background: url('//images.lojanike.com.br/cores/8_20190521214200.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-amarelo"></div>
                                    </div>
                                    <span>
                                        Amarelo
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="float: right;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorBege()" class="color-selected-bege" style="background: url('//images.lojanike.com.br/cores/14_20190521214436.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-bege"></div>
                                    </div>
                                    <span>
                                        Bege
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="width: initial;float: inherit;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorCinza()" class="color-selected-cinza" style="background:url('//images.lojanike.com.br/cores/10_20190523095037.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-cinza"></div>
                                    </div>
                                    <span>
                                        Cinza
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="margin-top: -26%; margin-left: 37%;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px; ">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorDourado()" class="color-selected-dourado" style="background: url('//images.lojanike.com.br/cores/12_20190523095206.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-dourado"></div>
                                    </div>
                                    <span>
                                        Dourado
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="margin-left: 163px; margin-top: 10px;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorLaranja()" class="color-selected-laranja" style="background: url('//images.lojanike.com.br/cores/6_20190521214557.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-laranja"></div>
                                    </div>
                                    <span>
                                        Laranja
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="width: initial;float: inherit; margin-top: -22%;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorMarrom()" class="color-selected-marrom" style="background: url('//images.lojanike.com.br/cores/7_20190523101628.jpg') !important; border-radius: 100%; width: 30px;">
                                        <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-marrom"></div>
                                    </div>
                                    <span>
                                        Marrom
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="float: left; margin-top: -27%; margin-left: 33%;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorMultiColor()" class="color-selected-multicolor" style="background: url('//images.lojanike.com.br/cores/15_20190523101707.jpg') !important; border-radius: 100%; width: 30px;">
                                        <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-multicolor"></div>
                                    </div>
                                    <span>
                                        Multicolor
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="float: right;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorPreto()" class="color-selected-preto" style="background: url('//images.lojanike.com.br/cores/1_20190521214635.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-preto"></div>
                                    </div>
                                    <span>
                                        Preto
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="width: initial;
float: inherit;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorRosa()" class="color-selected-rosa" style="background:url('//images.lojanike.com.br/cores/5_20190521214644.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-rosa"></div>
                                    </div>
                                    <span>
                                        Rosa
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="margin-top: -26%; margin-left: 37%;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px; ">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorRoxo()" class="color-selected-roxo" style="background: url('//images.lojanike.com.br/cores/13_20190521214651.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-roxo"></div>
                                    </div>
                                    <span>
                                        Roxo
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="margin-left: 87px;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorVerde()" class="color-selected-verde" style="background: url('//images.lojanike.com.br/cores/9_20190521214659.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-verde"></div>
                                    </div>
                                    <span>
                                        Verde
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="width: initial;float: inherit; margin-top: -22%;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="#">
                                    <div onclick="chechColorVermelho()" class="color-selected-vermelho" style="background: url('//images.lojanike.com.br/cores/4_20190521214706.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color-vermelho"></div>
                                    </div>
                                    <span>
                                        Vermelho
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr>
            <div style="text-align: right;">
                <label class="label-content" for="Tamanho">
                    Tamanho
                </label>
                <a onclick="tamanhos()" style="margin-right: 5%; text-decoration: none; color: black;" class="fa fa-plus" href="#asdasd"></a>
            {{!-- <a class="fa fa-minus" href="#"></a> --}}
            </div>
            <div class="tamanhos">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, commodi. Aliquid similique nesciunt, est itaque placeat provident quam tempora esse minima vitae, reiciendis laboriosam officiis quaerat? Iusto officiis possimus sunt.</p>
            </div>
            <hr>
            <div style="text-align: right;">
                <label class="label-content" for="Preço (R$)">Preço (R$)</label>
                <a onclick="precos()" style="margin-right: 5%; text-decoration: none; color: black;" class="fa fa-plus" href="#preco"></a>
                {{!-- <a class="fa fa-minus" href="#"></a> --}}
            </div>
            <div class="precos">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, commodi. Aliquid similique nesciunt, est itaque placeat provident quam tempora esse minima vitae, reiciendis laboriosam officiis quaerat? Iusto officiis possimus sunt.</p>
            </div>
            <hr>
            <div style="text-align: right;">
                <label class="label-content" for="Categoria do produto">
                    Categoria do produto
                </label>
                <a onclick="categorias()" style="margin-right: 5%; text-decoration: none; color: black;" class="fa fa-plus" href="#categoria"></a>
            {{!-- <a class="fa fa-minus" href="#"></a> --}}
            </div>
            <div class="categorias">
                <p>Lorem ipsum dolor, sit amet consectur adipisicing elit. Veritatis, commodi. Aliquid similique nesciunt, est itaque placeat provident quam tempora esse minima vitae, reiciendis laboriosam officiis quaerat? Iusto officiis possimus sunt.</p>
            </div>
            <hr>
            <div style="text-align: right; padding-right: 15px;">
                <label class="label-content" for="Tipo de produto">
                    Tipo de produto
                </label>
                <a onclick="tipos()" style="margin-right: 5%e; text-decoration: none; color: black;" class="fa fa-plus" href="#tipo-produto"></a>
            {{!-- <a class="fa fa-minus" href="#"></a> --}}
            </div>
            <div class="tipos">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, commodi. Aliquid similique nesciunt, est itaque placeat provident quam tempora esse minima vitae, reiciendis laboriosam officiis quaerat? Iusto officiis possimus sunt.</p>
            </div>
            <hr>
        </div>
        <div style="justify-content: center;" class="row">
                  <div class="content-imgs">
                      <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
                          <div class="imgBx">
                              <img src="img/0123-removebg-preview.png" class="img-fluid">
                                <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                                </div>
                          </div>
                           <div class="content">
                            <div class="product">
                                <p>Têsnis Nike Air Jordan 4 - Ano 1989</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;">R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <div class="imgBx">
                            <img src="img/dior-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                        <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro Mid</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/03-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>

                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/JORDAN-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/0123-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/0123-removebg-preview(1).png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                        <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/dior-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/210-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/JORDAN-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
    </div>
         
              <script>
                  function cores() {
                      const icon = document.querySelector('.cores');
                      icon.classList.toggle('active');
                  }
                  function tamanhos() {
                      const icon = document.querySelector('.tamanhos');
                      icon.classList.toggle('active');
                  }
                  function precos() {
                      const icon = document.querySelector('.precos');
                      icon.classList.toggle('active');
                  }
                  function categorias() {
                      const icon = document.querySelector('.categorias');
                      icon.classList.toggle('active');
                  }
                  function tipos() {
                      const icon = document.querySelector('.tipos');
                      icon.classList.toggle('active');
                  }
                  function chechColorMarrom() {
                      const checkColor = document.querySelector('.checked-color-marrom');
                      checkColor.classList.toggle('active');
                  }
                  function chechColorAzul() {
                      const checkColor = document.querySelector('.checked-color-azul');
                      checkColor.classList.toggle('active');
                  }
                  function chechColorAmarelo() {
                      const checkColor = document.querySelector('.checked-color-amarelo');
                      checkColor.classList.toggle('active');
                  }
                  function chechColorBranco() {
                      const checkColor = document.querySelector('.checked-color-branco');
                      checkColor.classList.toggle('active');
                  }
                  function chechColorBege() {
                      const checkColor = document.querySelector('.checked-color-bege');
                      checkColor.classList.toggle('active');
                  }
                  function chechColorCinza() {
                      const checkColor = document.querySelector('.checked-color-cinza');
                      checkColor.classList.toggle('active');
                  }
                  function chechColorLaranja() {
                      const checkColor = document.querySelector('.checked-color-laranja');
                      checkColor.classList.toggle('active');
                  }
                  function chechColorDourado() {
                      const checkColor = document.querySelector('.checked-color-dourado');
                      checkColor.classList.toggle('active');
                  }
                  function chechColorMultiColor() {
                      const checkColor = document.querySelector('.checked-color-multicolor');
                      checkColor.classList.toggle('active');
                  }
                  function chechColorPreto() {
                      const checkColor = document.querySelector('.checked-color-preto');
                      checkColor.classList.toggle('active');
                  }
                  function chechColorRosa() {
                      const checkColor = document.querySelector('.checked-color-rosa');
                      checkColor.classList.toggle('active');
                  }
                  function chechColorRoxo() {
                      const checkColor = document.querySelector('.checked-color-roxo');
                      checkColor.classList.toggle('active');
                  }
                  function chechColorVerde() {
                      const checkColor = document.querySelector('.checked-color-verde');
                      checkColor.classList.toggle('active');
                  }
                  function chechColorVermelho() {
                      const checkColor = document.querySelector('.checked-color-vermelho');
                      checkColor.classList.toggle('active');
                  }
                  function toggleMenu() {
                      const menuToggle = document.querySelector('.product-hover');
                      menuToggle.classList.toggle('active');
                    }
              </script>                        