<h1>CRUD Node.js</h1>
<a href="inserir">Inserir</a>
<a href="select">select</a>
<header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
            <a class="navbar-brand" href="#">Vinicius Alencar</a>
            
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#home">Introdução<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#explore">Habilidades 
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#adventure">Adventure 
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#blog">Projetos 
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact
                    </a>
                  </li>
              </ul>
            </div>
          </div>
          </nav>
    </header>
<div class="row">
                  <div class="col-sm-4">
                      <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
                          <div style="z-index: 100;" class="imgBx">
                              <img src="img/jordan.jpg" width="1000px" style="margin-top: 110px;" class="img-fluid">
                                <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                                </div>
                          </div>
                           <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;">R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <div class="imgBx">
                            <img src="img/02.png" width="600px" style="margin-top: 80px;" class="img-fluid">
                        </div>
                        <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/03.png" width="600px" style="margin-top: 70px;" class="img-fluid">
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/06.jpg" width="800px" style="margin-top: 70px;" class="img-fluid">
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/J1.jpg" width="800px" style="margin-top: 70px;" class="img-fluid">
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/JORDAN-CACTUS-MID-.jpg" width="600px" style="margin-top: 70px;" class="img-fluid">
                        </div>
                        <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/REDH1.jpg" width="600px" style="margin-top: 70px;" class="img-fluid">
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/TRAVIS-SCOTT-removebg-preview.png" width="600px" style="margin-top: 70px;" class="img-fluid">
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/JORDAN.jpg" width="600px" style="margin-top: 70px;" class="img-fluid">
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <script>
                  function toggleMenu() {
                      const menuToggle = document.querySelector('.product-hover');
                      menuToggle.classList.toggle('active');
                    }
              </script>