<h1>CRUD Node.js</h1>
<a href="inserir">Inserir</a>
<a href="select">select</a>
<header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
            <a class="navbar-brand" href="#">Vinicius Alencar</a>
            
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#home">Introdução<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#explore">Habilidades 
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#adventure">Adventure 
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#blog">Projetos 
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact
                    </a>
                  </li>
              </ul>
            </div>
          </div>
          </nav>
    </header>
    <div style="display: inline-flex;">
        <div class="" style="width: 50%; margin-top: 7%; margin-left: 1%;">
            <h3>FILTROS</h3>
            <hr>
            <div style="text-align: right;">
                <label class="label-content" for="Cor">
                    Cor
                </label>
                <a onclick="cores()" style="margin-right: 5%; text-decoration: none; color: black;" class="fa fa-plus" href="#asda"></a>
                {{!-- <a class="fa fa-minus" href="#"></a> --}}
            </div>
            <div class="cores">
                <ul class="cores-container" style="display: table-row-group;">
                    <li style="margin-left: 200px;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px; ">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="">
                                    <div style="background: url('//images.lojanike.com.br/cores/3_20190521214527.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color"></div>
                                    </div>
                                    <span>
                                        Azul
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="width: max-content; float: left; margin-top: -22%;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="">
                                    <div style="background: url('//images.lojanike.com.br/cores/2_20190521214423.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color"></div>
                                    </div>
                                    <span>
                                        Azul
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li style="float: left; margin-top: -22%; margin-left: 30px;">
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="">
                                    <div style="background: url('//images.lojanike.com.br/cores/8_20190521214200.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color"></div>
                                    </div>
                                    <span>
                                        Azul
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="">
                                    <div style="background: url('//images.lojanike.com.br/cores/1_20190521214635.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color"></div>
                                    </div>
                                    <span>
                                        Azul
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="">
                                    <div style="background:url('//images.lojanike.com.br/cores/2_20190521214423.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color"></div>
                                    </div>
                                    <span>
                                        Azul
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px; ">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="">
                                    <div style="background: url('//images.lojanike.com.br/cores/2_20190521214423.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color"></div>
                                    </div>
                                    <span>
                                        Azul
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="">
                                    <div style="background: url('//images.lojanike.com.br/cores/2_20190521214423.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color"></div>
                                    </div>
                                    <span>
                                        Azul
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="">
                                    <div style="background: url('//images.lojanike.com.br/cores/2_20190521214423.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color"></div>
                                    </div>
                                    <span>
                                        Azul
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="">
                                    <div style="background: url('//images.lojanike.com.br/cores/2_20190521214423.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color"></div>
                                    </div>
                                    <span>
                                        Azul
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="cores-especificas">
                            <li style="width: 32%; text-align: center; display: inline-block; margin-bottom: 10px;">
                                <a style="box-sizing: border-box; display: inline-block; position: relative; line-height: 15px; margin-bottom: 8px; width: 100%;" href="">
                                    <div style="background:url('//images.lojanike.com.br/cores/2_20190521214423.jpg') !important; border-radius: 100%; width: 30px;">
                                    <div style="background: transparent url('https://busca.nike.com.br//images/check-color.png') no-repeat; background-size: 90%;" class="checked-color"></div>
                                    </div>
                                    <span>
                                        Azul
                                    </span>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr>
            <div style="text-align: right;">
                <label class="label-content" for="Tamanho">
                    Tamanho
                </label>
                <a onclick="tamanhos()" style="margin-right: 5%; text-decoration: none; color: black;" class="fa fa-plus" href="#asdasd"></a>
            {{!-- <a class="fa fa-minus" href="#"></a> --}}
            </div>
            <div class="tamanhos">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, commodi. Aliquid similique nesciunt, est itaque placeat provident quam tempora esse minima vitae, reiciendis laboriosam officiis quaerat? Iusto officiis possimus sunt.</p>
            </div>
            <hr>
            <div style="text-align: right;">
                <label class="label-content" for="Preço (R$)">Preço (R$)</label>
                <a onclick="precos()" style="margin-right: 5%; text-decoration: none; color: black;" class="fa fa-plus" href="#preco"></a>
                {{!-- <a class="fa fa-minus" href="#"></a> --}}
            </div>
            <div class="precos">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, commodi. Aliquid similique nesciunt, est itaque placeat provident quam tempora esse minima vitae, reiciendis laboriosam officiis quaerat? Iusto officiis possimus sunt.</p>
            </div>
            <hr>
            <div style="text-align: right;">
                <label class="label-content" for="Categoria do produto">
                    Categoria do produto
                </label>
                <a onclick="categorias()" style="margin-right: 5%; text-decoration: none; color: black;" class="fa fa-plus" href="#categoria"></a>
            {{!-- <a class="fa fa-minus" href="#"></a> --}}
            </div>
            <div class="categorias">
                <p>Lorem ipsum dolor, sit amet consectur adipisicing elit. Veritatis, commodi. Aliquid similique nesciunt, est itaque placeat provident quam tempora esse minima vitae, reiciendis laboriosam officiis quaerat? Iusto officiis possimus sunt.</p>
            </div>
            <hr>
            <div style="text-align: right;">
                <label class="label-content" for="Tipo de produto">
                    Tipo de produto
                </label>
                <a onclick="tipos()" style="margin-right: 5%; text-decoration: none; color: black;" class="fa fa-plus" href="#"></a>
            {{!-- <a class="fa fa-minus" href="#"></a> --}}
            </div>
            <div class="tipos">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, commodi. Aliquid similique nesciunt, est itaque placeat provident quam tempora esse minima vitae, reiciendis laboriosam officiis quaerat? Iusto officiis possimus sunt.</p>
            </div>
            <hr>
        </div>
        <div style="justify-content: center;" class="row">
                  <div class="content-imgs">
                      <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
                          <div class="imgBx">
                              <img src="img/0123-removebg-preview.png" class="img-fluid">
                                <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                                </div>
                          </div>
                           <div class="content">
                            <div class="product">
                                <p>Têsnis Nike Air Jordan 4 - Ano 1989</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;">R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <div class="imgBx">
                            <img src="img/dior-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                        <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro Mid</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/03-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>

                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/JORDAN-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/0123-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/0123-removebg-preview(1).png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                        <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/dior-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/210-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="content-imgs">
                    <div class="placeBox aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img/JORDAN-removebg-preview.png" class="img-fluid">
                            <div class="product-hover">
                                    <input class="btnBuy" type="button" value="Comprar">
                            </div>
                        </div>
                         <div class="content">
                            <div class="product">
                                <p>Tênis Nike Air Jordan 1 Retro High</p>                              
                            </div>
                            <div>
                                <p style="color: #8d8d8d;">Casual</p>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    <p style="color: #8d8d8d;" >R$ 900,00</p>
                                </div>
                                <div class="price"> 
                                    <p>R$ 600,00</p>
                                </div>
                            </div>
                            <div>
                                <p style="color: #8d8d8d">5 Cores</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
    </div>
         
              <script>
                  function cores() {
                      const icon = document.querySelector('.cores');
                      icon.classList.toggle('active');
                  }
                  function tamanhos() {
                      const icon = document.querySelector('.tamanhos');
                      icon.classList.toggle('active');
                  }
                  function precos() {
                      const icon = document.querySelector('.precos');
                      icon.classList.toggle('active');
                  }
                  function categorias() {
                      const icon = document.querySelector('.categorias');
                      icon.classList.toggle('active');
                  }
                  function tipos() {
                      const icon = document.querySelector('.tipos');
                      icon.classList.toggle('active');
                  }
                  function toggleMenu() {
                      const menuToggle = document.querySelector('.product-hover');
                      menuToggle.classList.toggle('active');
                    }
              </script>                        