<a href="/">Voltar</a>
<form name="form01" action="/controllerForm" method="post">
    <input type="text" name="id" id='id' placeholder="id">
    <input type="text" name="nome" id='nome' placeholder="nome">
    <input type="number" name="valor" id='valor' placeholder="valor">
    <input type="text" name="cor" id='cor' placeholder="cor">
    <input type="number" name="tamanho" id='tamanho' placeholder="tamanho">
    <input type="text" name="categoria" id='categoria' placeholder="categoria">
    <input type="text" name="tipo" id='tipo' placeholder="tipo">
    <input type="submit" value="Enviar">
</form>