<a href="/">Voltar</a>
<form name="form01" action="controllerForm" method="post">
    <input type="text" name="id" id='id' placeholder="id">
    <input type="text" name="name" id='name' placeholder="name">
    <input type="text" name="age" id='age' placeholder="age">
    <input type="submit" value="Enviar">
</form>